---
og-title: "Bienvenue / Welcome"
---
{% for each in site.data.navigation.welcome %}
  {% if each.lang == "fr" %}{% assign homelink-fr = each.link %}
  {% elsif each.lang == "en" %}{% assign homelink-en = each.link %}
  {% endif %}
{% endfor %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}<meta http-equiv="refresh" content="0;url="/>{% endcomment %}
    <title>{{ page.og-title }}</title>
  <meta property="og:title" content="{{ page.og-title }}" />
  <meta property="article:publisher" content="{{ site.url }}" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.url }}/assets/images/quaker_icon.png" />
  <meta property="fb:app_id" content="299421778303061" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}" />
  <meta property="og:locale" content="{% if fr %}fr{% else %}en{% endif %}_CA" />
    <style>p {font-size: 17px}</style>
</head>
<body>
	<noscript><p id=en>If you are not redirected automatically, <a id="en-link" href="{{ homelink-en }}">go to the home page</a></p>
<br><br><br>
<p id=fr>Si votre navigateur ne vous redirige pas, <a id="fr-link" href="{{ homelink-fr }}">suivez ce lien vers l'accueil</a></p>
    </noscript>
    <p id=en></p>
<br><br><br>
    <p id=fr></p>
</body>
<script type="text/javascript">
window.onload = function() {
  let choice = localStorage.getItem('lang');
  if (choice == "null") {
    window.location.replace("/bienvenue-welcome");
  }
  if (choice === null) {
    window.location.replace("/bienvenue-welcome");
  }
    {% for each in site.data.navigation.welcome %} if (choice === "{{ each.lang }}") {window.location.replace("{{ each.link }}");}
{% endfor %}
}
setTimeout(() => {
		document.getElementById("en").innerHTML = 'If you are not redirected automatically, <a id="en-link" href="{{ homelink-en }}">go to the home page</a>';

		document.getElementById("fr").innerHTML = 'Si votre navigateur ne vous redirige pas, <a id="fr-link" href="{{ homelink-fr }}">suivez ce lien vers l\'accueil</a>';
}, 2000);
</script>
</html>
