{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
<form action="https://formspree.io/xeqzglgw" method="POST" rel="noopener" target="_blank">
	<p><input aria-label="{% if fr %}Nom{% else %}Name{% endif %}" class="w3-input w3-border w3-animate-input" {% comment %}autofocus {% endcomment %}type="text" placeholder="{% if fr %}Nom{% else %}Name{% endif %}" required name="{% if fr %}Nom{% else %}Name{% endif %}"></p>
      <p><input aria-label="{% if fr %}Courriel{% else %}Email{% endif %}" class="w3-input w3-border w3-animate-input" type="email" placeholder="{% if fr %}Courriel{% else %}Email{% endif %}" required name="{% if fr %}Courriel{% else %}Email{% endif %}"></p>
      <p><input aria-label="{% if fr %}Objet{% else %}Subject{% endif %}" class="w3-input w3-border w3-animate-input" type="text" required placeholder="{% if fr %}Objet{% else %}Subject{% endif %}" name="{% if fr %}Objet{% else %}Subject{% endif %}"></p>
      <input aria-label="Message" class="w3-input w3-border w3-animate-input" type="text" placeholder="Message" required name="Message">
     {% if fr %}<input type="hidden" name="_language" value="fr">{% endif %}
      <p>
        <button aria-label="{% if fr %}Envoyer{% else %}Send Message{% endif %}" class="w3-button color-1-dark" type="submit">
          <i class="fa fa-paper-plane"></i> &nbsp;{% if fr %}ENVOYER{% else %}SEND MESSAGE{% endif %}
        </button>
      </p>
    </form>

