{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
  <!-- this header vanishes on small screens. I use liquid code to change the language of the header depending on the page language -->
    <div id="wideheader">
  <!-- I put a few animations in for specific pages, just to make the site a bit more playful -->
     <div style="overflow: hidden;">
       <a href={% if page.lang =="fr" %}"/fr/accueil"{% else %}"/en/home"{% endif %}>
  <!-- top left bird 
       <img alt="top left bird logo" class="{% for each in site.bird_left %}{% if page.trans == each.trans %} {{ each.animation }} {% endif %}{% endfor %}" src="/assets/images/quaker_icon_95x95.png" width="95px" height="95px">-->
		     
     <!-- top header -->
     <span class="noback {% for each in site.header_animation %}{% if page.trans == each.trans %} {{ each.animation }} {% endif %}{% endfor %} " >{{ site.icon }}{% if fr %}{{ site.title-fr }}{% else %}{{ site.title }}{% endif %}</span>
     <!-- top right bird 
     <img alt="top right bird logo" class="noback {% for each in site.bird_right %}{% if page.trans == each.trans %} {{ each.animation }} {% endif %}{% endfor %}" src="/assets/images/quaker_icon_95x95.png" width="95px" height="95px">-->
     </a>

        </div>
     </div>
<div style="position:relative;">
	<!-- A microscopic special div to mark where the stickyscroll begins. The second special div serves to create a buffer so that when the navbar becomes sticky, special2 adds padding so that the screen doesn't jump -->
	<div id="special1">&nbsp; </div>
	<div id="special2">&nbsp; </div>
	<!-- Narrowheader refers what the header looks like on a narrow screen -->
  <div id="narrowheader" class="">
	  <a href="{% if fr %}/fr/accueil{% else %}/en/home{% endif %}" id="nolink" class="{% for each in site.mobile_header_animation %}{% if page.trans == each.trans %} {{ each.animation }} {% endif %}{% endfor %}">{% if fr %} {{ site.short_title-fr }} {% else %} {{ site.short_title }} {% endif %}</a>
  </div>
</div>

<div class="navbar" id="myNavbar">
  <a title="Dropdown menu" class="icon" onkeypress="respondBar()" onclick="respondBar()"><i class="fas fa-bars"></i></a>
	<a id="widehome" aria-label="Home" alt="Home" title="Home" class="{% case page.url %}{% when '/' or '/fr/accueil' or '/en/home' %}active{% endcase %}"  href={% if page.lang =="fr" %}"/fr/accueil"{% else %}"/en/home"{% endif %}  title="{% if fr %}Accueil{% else %}Home{% endif %}">{% if fr %}{% else %}{% endif %} <i class="fas fa-home fa-lg" alt="Home button" style="padding=0;"></i></a>
	<a id="narrowhome" title="Home" class="{% case page.url %}{% when '/' or '/fr/accueil' or '/en/home' %}active{% endcase %}"  href="/{% if page.lang =="fr" %}fr/accueil{% else %}en/home{% endif %}"  title="{% if fr %}Accueil{% else %}Home{% endif %}">{% if fr %}Accueil{% else %}Home{% endif %} &nbsp;<i class="fas fa-home" style="padding=0;"></i></a>
         {% assign counter = 0 %}
	  {% if fr %} {% assign doclist = site.data.navigation.fr %}{% else %} {% assign doclist = site.data.navigation.en %}{% endif %}
	  {% for item in doclist %} 
		{% if item.submenu != nil %}
		{% assign counter = counter | plus: 1 %}
  <div class="dropdown">
	  <button {% if item.hovertitle %}title="{{ item.hovertitle }}" {% endif %}onclick="responsiveClick('dropdown{{ counter }}')" onkeypress="responsiveClick('dropdown{{ counter }}')" class="dropbtn" {% if item.hovertitle %}title="{{ item.hovertitle }}"{% endif %} ><i class="fa fa-caret-right"></i> &nbsp;{{ item.title }}{% if item.icon %} &nbsp;{{ item.icon }}{% endif %}
    </button>
    <div class="dropdown-content" id="dropdown{{ counter }}">
	    {% for subitem in item.submenu %}{% assign realurl = page.url | url_decode %}
	    <a href="{{ subitem.sublink }}" {% if subitem.subhovertitle %}title="{{ subitem.subhovertitle }}"{% endif %}{% if subitem.sublink == realurl %}class="active"{% endif %}>{% if subitem.subicon %}{{ subitem.subicon }}{% endif %} {{ subitem.subtitle }}</a>
         {% endfor %}
    </div>
  </div>
  {% endif %}
		{% if item.submenu == null %}

		<a href="{{ item.link }}" {% if item.hovertitle %}title="{{ item.hovertitle }}"{% endif %} {% if item.link == page.url %}class="active"{% endif %}>{{ item.title }} &nbsp;{{ item.icon }}</a>
		{% endif %}
  {% endfor %}
  <!-- Language changer button -->
  {% if page.trans or page.glos.trans %}
  {% if fr %}{% assign otherlang = "en" %}{% else %}{% assign otherlang = "fr" %}{% endif %}
  {% assign otherurl = nil %}
	{% for each in site.pages %}
	{% unless page.type == "dictionary" %}{% if each.trans == page.trans and each.lang == otherlang %}{% assign otherurl = each.url %}{% break %}{% endif %}{% endunless %}
	{% if page.type == "dictionary" %}{% if fr %}{% assign base = "/en/entr/" %}{% else %}{% assign base = "/fr/entr/" %}{% endif %}{% assign otherurl = base | append: page.glos.trans %}{% endif %}
        {% endfor %}
  {% unless otherurl %}
	{% for each in site.posts %}
	{% if each.trans == page.trans and each.lang == otherlang %}{% assign otherurl = each.url %}{% break %}{% endif %}
	{% endfor %}
  {% endunless %}
  {% if otherurl %}
			     <!-- language changer button, which flip animation -->
  <a class="icon" id="response" title="{% if fr %}View this page in English{% elsif page.lang == "en" %}Voir cette page en français{% endif %}"onclick="flipIcon()">{% if fr %}English{% elsif page.lang == "en" %}Français{% endif %} &nbsp;<i id="flippy" class="fas fa-random"></i></a>
  <a href="{{ otherurl }}" id="flippy2" {% if page.trans == "search" %}class="searchy" {% endif %}style="display: none;"></a>
  {% endif %}
  {% endif %}
  <div class="search-container">
	  <form id="formy" title="{% if fr %}Formulaire de recherche{% else %}Search form{% endif %}" aria-label="{% if fr %}Formulaire de recherche{% else %}Search form{% endif %}class="" action="/search-{% if fr %}fr{% else %}en{% endif %}">
	    <input title="{% if fr %}Texte de recherche{% else %}search text{% endif %}" id="inputsearch" aria-label="{% if fr %}Texte de recherche{% else %}Search text{% endif %}" type="search" class="input_hide" onfocusout="foldSearch()" placeholder="{% if fr %}Recherchez...{% else %}Search...{% endif %}" autocomplete="off" name="q">
	    <button title="{% if fr %}Bouton de recherche{% else %}Search button{% endif %}" aria-label="{% if fr %}Soumettre la recherche{% else %}Search submit button{% endif %}" id="searchsubmit" class="hide" type="submit"><i class="fas fa-search"></i></button>
    </form>
	    <button title="{% if fr %}Ouvrir le champ de recherche{% else %}Search open{% endif %}" aria-label="{% if fr %}Ouvrir le champ de recherche {% else %}Search tray open{% endif %}" id="unfold" class="show" onkeypress="unfoldSearch()" onclick="unfoldSearch()"><i class="fas fa-search"></i></button>
  </div>
  {% comment %}    <!-- Mobile bird icon 
  <div class="icon_right">
	  <a title="Home" href={% if page.lang =="fr" %}"/fr/accueil"{% else %}"/en/home"{% endif %}><img alt="top right bird logo" class="{% for each in site.mobile_bird %}{% if page.trans == each.trans %}{{ each.animation }} {% endif %}{% endfor %}" src="/assets/images/quaker_icon_35x35.png" width="34.5px" height="34.5px"></a>--> {% endcomment %}
	  </div>
</div>

<!-- Special div for intersectionObserver-->
<div id="intersectionObserver1">&nbsp; </div>
  {% assign otherurl = nil %}
