{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% if fr %} {% assign posty=site.posts | where:"lang","fr" %}
{% else %} {% assign posty=site.posts | where_exp:"page","page.lang != 'fr'" %}
{% endif %}

<section class="posts">
<ul>
  {% for post in posty %}

            {% comment %}All this code is just to assign the date properly in French{% endcomment %}
  {% if fr %}
      {% capture date_cap %} {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}janvier {% when '2' %}février {% when '3' %}mars {% when '4' %}avril {% when '5' %}mai {% when '6' %}juin {% when '7' %}juillet {% when '8' %}août {% when '9' %}septembre  {% when '10' %}octobre {% when '11' %}novembre  {% when '12' %}decembre
      {% endcase %}
      {{ post.date | date: "%Y" }}
      {% endcapture %}{% assign datey = date_cap %}
    {% else %}
  {% assign datey = post.date | date: "%B %-d, %Y" %}
  {% endif %}
{% comment %}Below is the actual code creating the cards{% endcomment %}

<li onclick='location.href="{{ post.url | escape }}";'>
    <div class="post-card">
       <h3>{{ post.title }}</h3>
    </div>
    <div class="post-container">
	    <p><strong>{{ datey }}</strong></p>
      {{ post.excerpt }}
    <a href="{{ post.url }}" class="decorate_link">{% if fr %}lire la suite{% else %}continue reading{% endif %}</a>
    <div>&nbsp;</div>    
    </div>
  </li>
 {% endfor %}
 </ul>
</section>
