@import "font";
@import "variables";

$body-font-size: 17px;
$body-color: white;
$body-color-text: black;
$header-font-size: 138%;
$nav-font-size: 1em;
$font-mono: "Courier New", Courier, monospace; 
$font-sans: "Source Sans Pro", Helvetica, Arial, sans-serif; // "Source Sans Pro",
$font-serif: Bitter, Georgia, serif; // "IM Fell English", "Oswald", "Playfair Display",
$serif-spacing: 1.5px;
$text-width: 50em; //Sets the width of the text on the page
