---
---
@import 'colors';
$height: 7rem;
$mob-pixels: {{ site.breakpoint }};

.container-content {
	flex-direction: column;
        max-width:$text-width;
	box-sizing: border-box;
}
.content{max-width:$text-width;flex: 0 1 auto}
.cards,.posts {padding:1rem}
.cards > ul, .posts > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax($height,1fr));
  grid-auto-flow: dense;
  grid-gap: 1rem;
  list-style-type: none;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.cards > ul > li > a:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
  height: $height;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 10px;
  background: var(--color-1-dark);
  color: var(--alert-text);
  transition: background .3s;
  &:hover {
       background: var(--color-1);
  }
}

.cards_index > ul > li > a:first-child {
//  display: inline-block;
  transition: all 0.5s;
  font-style: italic;
  font-size: 2.0em;
    &:hover {
	   background: var(--color-1)
    }
    &:hover span {padding-right: 15px;}
    &:hover span:after {
       opacity: 1;
       right: 0;
    }
  span {transition: 0.5s;}
  span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
}

.posts > ul > li {
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // margin: auto;
  color: var(--alert-text);
  background: var(--color-1);
  transition: background .3s;
  > a:first-child {
    //display: inline;
    padding: 0;
    text-decoration: none;
  }
  &:hover h3,&:hover {
    background: var(--active);
  }
}

.post-card {
  h3 {
    font-family: $font-serif;
    background: var(--color-1-dark);
    text-align: center;
    margin: 0;
    padding: 15px;
    transition: background .3s;
  }
}

.post-container { 
  width: 100%;
  h5 {
    font-family: $font-serif;
    margin: 0;
    padding: 15px;
    text-indent: 5px;
    transition: background .3s;
  }
  p:first-child {margin: 0;text-indent:0px}
  padding: 15px;
   p,a,span {
  text-decoration: none;
  }
  .decorate_link {
    text-decoration: underline;
  }
}

//.sticky_anchor{position:relative}
.abc {
  padding: 0 0 0 5px;
  width: 100%;
  position: sticky;
  display: block;
  background: var(--color-1);
  //font-family: $font-serif;
  font-size: 120%;
  color: var(--alert-text);
  //text-align: center;
  z-index: 450
}
.textwhite{color:white}
@media screen and (min-width: $mob-pixels) {
.abc{top:53px}
.stanchor a {top: -80px !important}
.list_button{scroll-margin: 133px 0 0 0}
}
@media screen and (max-width: $mob-pixels - 1) {
.abc{top:0px}
.list_button{scroll-margin: 30px 0 0 0}
}
.abc_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 31px);
  justify-content: center;
  font-size: 140%;
  text-align: center;
  a {
  text-decoration: none;}
}

.filterShow {display:block}
.filterHide {display:none}
#filterInput {
	width: 100%;
	display: block;
	border-radius: .2em;
	font-size: 1em;
	padding: 8px;
//	-webkit-appearance: textfield;
	overflow: visible;
	border: .02px dotted var(--color-1-light);
	&:focus {
	   border: 2px solid var(--color-1);
	   outline: 2px solid var(--color-1);
        }
}
    button::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner,
    input[type="file"] > input[type="button"]::-moz-focus-inner {
    	border: none;
    }

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  transform: scale(0);
  width: 140px;
//  white-space: nowrap;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -1em;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: 
    opacity ease-out 0.3s,
    bottom ease-out 0.3s,
    transform ease-out 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  transform: scale(1);
  bottom: 120%;
  opacity: 1;
}

.randombtn {
	cursor: pointer;
	color: var(--alert-text);
	background: var(--color-1);
	// -webkit-appearance: button;
	border: 1px solid #ccc;
	border-radius: .7em;
	padding: 10px;
}
.list_div {
	border: .15em solid transparent;
        width: 100%;
	max-width: $text-width;
        padding: .3em 1em .3em 3.8em ;
        text-align: left;
	white-space: normal;
}
.list_button {
	@extend .list_div;
        padding: .3em 1em .3em 1.8em ;
	outline: 0;
	&:target {
		border: .15em solid var(--color-1);
	}
	&:hover {
		color: var(--alert-text);
		background: var(--active);
	}
}
.buttonyellow {
	background: var(--buttonyellow);
}
