---
---
@import "colors.scss";
$mob-pixels: {{ site.breakpoint }};
$verynarrow: {{ site.verynarrow }};

// Remove underline under links
#linkoff,#narrowheader,a#wideheader,#nolink,.navbar a {
	&,&:link,&:visited,&:hover {
    text-decoration: none;
    }
}

html {
	--body-text: black;
	--color-1: #6d4c41;
	--color-1-dark: #40241a;
	--color-1-light: #9c786c;
	--body-bg: white;
	--redalert: #626d41;
	--bluealert: #416d4c;
	--alert-text: white;
	--alert-hover-text: black;
	--active: #5d4037;
	--off: #333;
        --buttonyellow: #aee571;
}

@media (prefers-color-scheme: dark) {
  html {
	--body-text: white;
	--color-1: #bcaaa4;
	--color-1-dark: #8c7b75;
	--color-1-light: #efdcd5;
	--body-bg: black;
	--redalert: #b6bca4;
	--bluealert: #a4bcaa;
	--alert-text: black;
	--alert-hover-text: white;
	--active: #a1887f;
	--off: #666;
        --buttonyellow: #f8ffd7;
  }
}

// These lines style both wide and narrow versions of the site
.navbar {
  overflow: hidden;
  z-index: 500;
  width:100%;
  font-family: $font-sans;
  font-weight: bold;
  #response {cursor:pointer}
  a,#response,button,.search-container {
    display: block;
    padding: 14px 11px;
    color: var(--alert-text);
    text-align: center;
    font-family: $font-sans;
    font-size: $nav-font-size;
    font-weight: bold;
    white-space: nowrap;
  }
  a {
    &.active {
      background-color: var(--active);
      color: var(--alert-text);
    }
    &:hover {
      background-color: var(--color-1-dark);
      color: var(--alert-text);
    }
  }
  .icon {
     display: none;
   }
   
  // widescreen search
  .search-container {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    // max-width: 100%;
    align-items: center;
    margin: 0px 0 0;
    padding: 0;

    button {
     flex: 0 0 auto;
     padding: 14px;
   //  margin-right: 4px;
     background-color: var(--color-1-light);
     // font-size: 1em;
     border: none;
     transition: color 0.3s;
     cursor: pointer;
     &:hover {
       color: var(--alert-hover-text);
     }
    }
  }

  input[type=search] {
    width: 1px; 
    font: {
      family: $font-sans;
      size: 1em;
      weight: normal;}
    flex: 1 1 auto;
    padding: 15.25px 10px;
    border: none;
    margin: 0;
    outline: none;
    transition: width 0.3s ease-in-out;
    background: var(--body-bg);
    color: var(--body-text);
   }
}

.dropdown {
  float: left;
  overflow: hidden;
   .dropbtn {
      display: block;
      border: none;
      outline: none;
      color: var(--alert-text);
      font: {
        size: $nav-font-size;
        family: $font-sans;
        family: inherit;
        weight: bold;
      }
      padding: 14px 9px;
      background-color: inherit;
      margin: 0;
      cursor: default;
    }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 500;
  a  {
    float: none;
    color: var(--alert-text);
    display: block;
    padding: 12px 14px;
    text-align: left;
  }
}

#intersectionObserver1 {
  position: absolute;
  // visibility: hidden;
  top: 400px;
  font-size: .00000001em;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  }

// WIDE screen
@media screen and (min-width: $mob-pixels) {
 #wideheader * {
    margin: 0px;
    background-color: var(--color-1-dark);
    text: {
      align: center;
      decoration: none;}
    white-space: nowrap;
    vertical-align: middle;
    font: {
      family: $font-serif;
      size: $header-font-size;}
    // letter-spacing: $serif-spacing;
    color: var(--alert-text);
    position: relative;
    padding:20px 30px;
  }
  
  .noback {
	  background-color: transparent !important;
  }

 #widehome {
    text-align: left;
    color: var(--alert-text);
    position: relative;
    text-decoration: none;
 }
 #narrowhome,#narrowheader,.icon_right {
     display: none;
 }

  .navbar {
    display: flex;
    align-items: center;
    background-color: var(--color-1);
     input[type=search] {
      &.input_narrow {width: 1px}
      &.input_hide {visibility: hidden}
      &.input_show {
        width: 210px; 
        visibility: visible;
      }
    }
    &.sticky > a:hover {
      background: var(--color-1);
    }
  }

  #special1,#special2 {
    font-size: .00000001em;
    margin: 0;
    border: 0;
    background-color: var(--color-1-dark);
  }

 .dropdown {
    &:hover .dropdown-content {
        display: block;
    }
    &:hover i:nth-of-type(1):before {
      content: "\f0d7";
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      vertical-align: middle;
      font-weight: 900;
      margin: 0 0 0 -4px;
    }
  }

 .show {display: inline !important;}
 .hide {display: none !important;}

  // Sticky navbar start
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-1);
    color: var(--alert-text);
    animation-name: change;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  
//   .sticky + {
//       .container-alert,.stickystart { 
//   	padding-top: 54px;
//        }
//    }
  
   .stickyOffset {
   	padding-top: 54px;
   }

   .navbar.sticky .dropdown-content {
       position: fixed;
       background: var(--color-1-dark);
       a:hover {
         background: var(--color-1);
       }
   }
  
  // Keeping page anchors in the right place
  .scroll_anchor{scroll-margin: 60px 0 0 0;}
  .stanchor {
    position: relative;
       a {
          position: absolute;
          left: 0px;
          top: -60px;
        } 
   }

  .change_color {
    animation-name: change;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    color: var(--alert-text);
  }
  
  .return_color {
    background: var(--color-1);
    animation-name: return;
    animation-duration: .25s;  
    animation-fill-mode: forwards;
  }
}

// NARROW screen
@media screen and (max-width: $mob-pixels - 1) {
  .navbar {
	  a,#response,input[type=search],.search-container {
     display: none;
      }
     }
  #wideheader,#widehome,#narrowhome,#special1,#special2,#searchsubmit,#unfold,.dropdown .dropbtn  {
     display: none;
  }

  #narrowheader {
     position: absolute;
     margin-top: 13px;
     left: 50%;
     font: {size: $nav-font-size;
       family: $font-serif;}
     // letter-spacing: $serif-spacing;
     transform: translate(-50%, 0%);
     background-color: transparent;
     color: var(--alert-text);
     white-space: nowrap;
   }
   #nolink {
     color: var(--alert-text);
     padding: 0;
     font-size: $header-font-size;
   }

   .icon_right {
     display: block;
     float: right;
     text-decoration: none;
     z-index: 600;
   }
   .navbar {
     background-color: var(--color-1-dark);
     a:hover,a.active {
       background-color: var(--active);
     }
     & > .icon_right > a {
	   padding: 12.5px 12px 9px;
     }
    .icon {
      font-size: $header-font-size;
      float: left;
      display: block;
      cursor: pointer;
     &:hover {
        background-color: var(--color-1);
      }
     &_right a {
       float: right;
       display: block;
      }
     }
   &.responsive {
      position: relative;
       .icon {
          position: relative;
          right: 0;
          top: 0;
         &_right {
	   display: none;
         }
       }

      a {
        float: none;
        display: block;
        text-align: left;
      }
      .dropdown {
         float: none;
          .dropbtn {
            display: block; 
            width: 100%;
            text-align: left;
            cursor: pointer;
          }
       &-content {
         position: relative;
         background:var(--active); 
         //padding: 0 0 0 15px;
         text-indent: 0.8em;
         &:before {
//           content: &emsp;
         }
       }
      }
    // This is all still under .navbar.responsive
    input[type=search], .search-container, #response, #narrowhome {
      float: none;
      display: block;
      text-align: left;
      flex: 1 0 auto;
      width: 100%;
      border-radius: 0;
      margin: 0;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    input[type=search] {
      border: 1px solid #ccc;
      -webkit-appearance: none;
      -moz-appearance:none;
//      width: 98%;
    }
   }
  }
  // the goal of this code is to require a click to open a submenu in responsive mode
  .show_block {display:block;}
   #formy {flex: 1 0 210px;}
}
// @media screen and (max-width: $verynarrow) {
// 	#narrowheader {
// 		font-size: 80vw;
// 	}
// }
// end of narrowheader

// Breadcrumb menu

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--active);
  margin: 0;
}
ul.breadcrumb li {
  display: inline;
  //font-size: $body-font-size;
  font-family: $font-sans;
  font-size: $nav-font-size;
  font-weight: bold;
  color: var(--alert-text);
}
ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: var(--alert-text);
  text-decoration: underline;
}
ul.breadcrumb li a:hover {
  text-decoration: none;
}

// animations
  
@keyframes return {
  from {background-color: var(--color-1-dark);color:var(--alert-text)}
  to {background-color: var(--color-1);color:var(--alert-text)}
  }

@keyframes change {
  from {}
  to {background-color: var(--color-1-dark);color:var(--alert-text)}
 }

.focustext {
  @include animation(text-focus-in 1.0s cubic-bezier(0.550, 0.085, 0.680, 0.530) -.40s both);
}
.roll_bird1 {
      @include animation(roll-in-left 1.0s ease-out -0.4s both);
}
.roll_bird2 {
      @include animation(roll-in-right 1.0s ease-out -0.4s both);
}
.swing-in1 {
       @include animation(swing-in-top-fwd 1.0s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.40s both);
 } 
 .land_left_flip {
   @include twoanimations(tilt-in-tl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.20s both, flip-vertical-left 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s reverse forwards);
 }
 .land_right {
       @include animation(tilt-in-fwd-tr 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.20s both);
 }
 .rotate-hor-center {
       @include animation(rotate-hor-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both);
 }
//    wobbles for the contact page
.shake-tl {
	@include animation(shake-tl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both);
}
.shake-bottom {
	@include animation(shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.65s both);
}
.flicker-glow {
  @include twoanimations(text-flicker-in-glow 0.5s linear both, glow 2s ease-in-out infinite 0.5s alternate);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d6edff, 0 0 40px #d6edff, 0 0 50px #d6edff, 0 0 60px #d6edff, 0 0 70px #d6edff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #abcbff, 0 0 40px #abcbff, 0 0 50px #abcbff, 0 0 60px #abcbff, 0 0 70px #abcbff, 0 0 80px #abcbff;
  }
}
// ----------------------------------------------
// Generated by Animista on 2020-4-15 1:32:10
// Licensed under FreeBSD License.
// See http://animista.net/license for more info.
// w: http://animista.net, t: @cssanimista
// ---------------------------------------------- 
// land_left_flip
@keyframes roll-in-left {
  0% {
    @include transform(translateX(-800px) rotate(-540deg));
    opacity: 1;
  }
  100% {
    @include transform(translateX(0) rotate(0deg));
    opacity: 1;
  }
}

// land_right roll in
@keyframes roll-in-right {
  0% {
    @include transform(translateX(800px) rotate(540deg));
    opacity: 1;
  }
  100% {
    @include transform(translateX(0) rotate(0deg));
    opacity: 1;
  }
}

// land_left_flip tilt in
@keyframes tilt-in-tl {
  0% {
    @include transform(rotateY(145deg) rotateX(20deg) translate(750px, -250px) skew(12deg, 15deg));
    opacity: 1;
  }
  100% {
    @include transform(rotateY(180deg) rotateX(0deg) translate(0, 0) skew(0deg, 0deg));
    opacity: 1;
  }
}

// land_left_flip flip after
@keyframes flip-vertical-left {
  0% {
    @include transform(rotateY(0));
  }
  100% {
    @include transform(rotateY(-180deg));
  }
}

// land_right
@keyframes tilt-in-fwd-tr {
  0% {
    @include transform(rotateY(20deg) rotateX(35deg) translate(500px, -300px) skew(-35deg, 10deg));
    opacity: 1;
  }
  100% {
    @include transform(rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg));
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    @include filter (blur(12px));
    opacity: 0;
  }
  100% {
    @include filter (blur(0px));
    opacity: 1;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

// bird swing ins
@keyframes swing-in-top-fwd {
  0% {
    @include transform(rotateX(-100deg));
    @include transform-origin(top);
    opacity: 0;
  }
  100% {
    @include transform(rotateX(0deg));
    @include transform-origin(top);
    opacity: 1;
  }
}

// rotate translate button
@keyframes rotate-hor-center {
  0% {
    @include transform(rotateX(0));
  }
  100% {
    @include transform(rotateX(-360deg));
  }
}
// wobbles for the contact page
@keyframes shake-tl {
  0%,
  100% {
            transform: rotate(270deg);
            transform-origin: 50% 50%;
  }
  10% {
            transform: rotate(272deg);
  }
  20%,
  40%,
  60% {
            transform: rotate(266deg);
  }
  30%,
  50%,
  70% {
            transform: rotate(274deg);
  }
  80% {
            transform: rotate(268deg);
  }
  90% {
            transform: rotate(272deg);
  }
}

@keyframes shake-bottom {
  0%,
  100% {
            transform: rotate(0deg);
            transform-origin: 50% 100%;
  }
  10% {
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
            transform: rotate(4deg);
  }
  80% {
            transform: rotate(-2deg);
  }
  90% {
            transform: rotate(2deg);
  }
}
