---
---
// Already imported
@import "colors";
$mob-pixels: {{ site.breakpoint }};
$media-pixels: {{ site.mediabreak }};
$verynarrow: {{ site.verynarrow }};
// @import "include-media";

*,*:before,*:after{box-sizing:inherit}

html,body {
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
    font-size: $body-font-size;
    color: var(--body-text);
    background-color: var(--body-bg);
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
}

img {
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	margin: 10px 0;
	font-family: $font-serif;
	//letter-spacing: $serif-spacing;
}
h1 {font-size: 1.9rem}
h2 {font-size: 1.5rem}
h3 {font-size: 1.3rem}
h4 {font-size: 1.2rem}
h5 {font-size: 1.1rem}
h6 {font-size: .9rem;}

h1,h2,h3,h4 {
  &.header {
	font-family: $font-serif;
	text-align: center;
        padding: 10px;
	margin: 0 auto 0;
  }
}

hr {
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 20px 0;
}

a {background-color:transparent;color:inherit; outline-width: 0}
a:active,a:hover,a:visited {outline-width:0;text-decoration: none;}

button {
	text-transform: none;
	-webkit-appearance: button;
  &,input {
	overflow: visible;
	font:inherit;
	margin: 0;
  }
}

.content {
  &.mono {
   font-family: $font-mono;
  }
  &.serif {
    font-family: $font-serif;
    //letter-spacing: $serif-spacing;
  }
}
.footer {
    // flex: 1 0 auto;
    color: var(--alert-text);
    font-family: $font-sans;
    font-size: 0.8em;
    padding: 0px 0 5px 0;
    background-color: var(--color-1);
    text-align: center;
     h3 {
	padding-top: .5em;
        font-family: $font-serif;
	//letter-spacing: $serif-spacing;
	font-size: 2em;
     }
     h6 {
	font-family: $font-sans;
     }
     &.smaller {
	font-size: 0.75em;
     }
}

.stickystart { // Ends at alert.html
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.container-alert {
   width: 100%;
   margin: 0 auto;
   background-color: var(--body-bg);
   position: relative;
   margin-bottom: 0;
   height: 100%;
}

.alert {
  text-align: center;
  max-width: $text-width;
  font: {
      family: $font-sans;
      weight: bold;}
  padding: 20px;
  color: var(--alert-text);
  margin: 0 0 ;
  opacity: 1;
  transition: opacity 0.6s;
  a {
    color: var(--alert-text);
    font-weight: 800;
    font-family: $font-sans;
  }
  p {
    margin: 0;
  }
}

 .redalert {
  background-color: var(--redalert);
}
 
.bluealert {
  background-color: var(--bluealert);
}

// The alert close button
.closebtn {
  margin: 0 0 0 0;
  align-self: center;
  font-family: $font-sans;
  padding: 0px 20px 0 15px;
  color: var(--alert-text);
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  z-index: 100;
    &:hover {
     color: var(--alert-hover-text);
    }
}

.center {
	text-align: center;
}

.img_center_no_pad {
    text-align: center;
    margin: 0 auto;
    display: block;
    }

.img_center {
    @extend .img_center_no_pad;
    padding: 15px 0;
  &25 {
    @extend .img_center;
    width: 25%;
  }
  &50 {
    @extend .img_center;
    width: 50%;
  }
  &75 {
    @extend .img_center;
    width: 75%;
  }
  &100 {
    @extend .img_center;
    width: 100%;
  }
}
.img_floatleft {
	@extend .img_center_no_pad;
	float: left;
}

.color-1 {
	background-color: var(--color-1);
	color: var(--alert-text);
   &-text {
	background-color: var(--alert-text);
	color: var(--color-1)
   }
   &-dark {
	background-color: var(--color-1-dark);
	color: var(--alert-text)
   }
   &-dark-text {
	background-color: var(--body-bg);
	color: var(--color-1-dark)
   }
   &-light {
	background-color: var(--color-1-light);
   }
   &-light-text {
	background-color: var(--body-bg);
	color: var(--color-1-light)
   }
}

.color-active {
	background-color: var(--active);
	color: var(--alert-text);
}

main {
   flex: 1 0 auto;
   min-height: auto;
   height: 100%;
}

// Toggle switch
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 16px;
  top: 5px;
   input {
     opacity: 0;
     width: 0;
     height: 0;
   }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 2px;
  &:before {
     position: absolute;
     content: "";
     height: 8px;
     width: 8px;
     left: 4px;
     bottom: 4px;
     background-color: var(--body-bg);
     -webkit-transition: .4s;
     transition: .4s;
   }
}

input {
  &:checked + .slider {
   background-color: var(--color-1-light);
      &:before {
        @include transform(translateX(9px));
      }
    }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
}

// Rounded sliders
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
// Align icons

.down_a {
  &_bit {
     vertical-align: bottom;
    &_more {
        vertical-align: bottom;
        position: relative;
        bottom: -4px;
    }
  }
  &_tad {vertical-align:sub}
}

.bit_left {margin: 0 0 0 -3px}

.container-content {
   width: 100%;
   margin: 0 auto 0;
   height: 100%;
   display: flex;
   justify-content: space-around;
}

.content {  // always on the left if there's media
   padding: 0 66px;
   font-family: $font-sans; 
   font-size:1em;
   text-align:left;
   margin-bottom: 0;
}
@media screen and (min-width: $mob-pixels) {
  .content {
    flex: 0 1 $text-width;
  }
}

@media screen and (max-width: $mob-pixels - 1) {
  .content {
     flex: 0 1 auto;
  }
}
.media {
   flex: 1 0 400px;
   padding: 0 3px;
  }

.embed-container2,.embed-container-map {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container2, .embed-container-map {
	iframe,object,embed {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
	}
}

.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%;background:var(--body-bg);color:var(--body-text)}
.w3-border{border:1px solid #ccc}
.w3-animate-input{width:50%;transition:width 0.4s ease-in-out}
.w3-animate-input:focus{width:100%}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:background-color .3s}
.w3-button:hover{background-color:var(--color-1)}

// scroll up button
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 599;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-1-dark);
  color: var(--body-bg);
  cursor: pointer;
  padding: 11px 15px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  border-radius:50%;
  transition: 0.3s;
   &:hover {
     background-color: var(--color-1-light);
   }
}
// Media & Container responsiveness
@media screen and (max-width: $media-pixels) {
  .container-content {   
    flex-direction: column;
  }

  .embed-container2 {
	  display: none
  }
  .embed-container1 {
	  display: initial;
  }
  .media {
	  padding: 3px;
  }
  .content {
	  padding: 20px;
  }
  .widespace {
	  display: none;
  }
}

// @include media(">800px") {
@media screen and (min-width: $media-pixels + 1) {
  .embed-container2 {
	  display: initial
  }
  .embed-container1 {
	  display: none;
  }
 .media {
	 @include sticky;
         align-self: flex-start;
         right: 0;
         top: 100px;
         max-width: 100%;
 }
}
