<h3>{% if page.lang == "fr" %}Abréviations{% else %}Abbreviations{% endif %}</h3>

<table border="1" cellspacing="0" cellpadding="3">

<tr>
<td>adj</td>
<td>adjective</td>
<td>adjectif</td>
</tr>

<tr>
<td>c.-à-d.</td>
<td>i.e., namely</td>
<td>c'est-à-dire</td>
</tr>

<tr>
<td>cap.</td>
<td>Capital (letter)</td>
<td>&nbsp;</td>
</tr>

<tr>
<td>cf.</td>
<td>see</td>
<td>voir</td>
</tr>

<tr>
<td>CAN</td>
<td>Canada</td>
<td>Canada</td>
</tr>

<tr>
<td>CH</td>
<td>Switzerland</td>
<td>Suisse</td>
</tr>

<tr>
	<td>EF</td>
<td>English&ndash;French section of the glossary</td>
<td>section anglais&ndash;français du glossaire</td>
</tr>

<tr>
<td>e.g.</td>
<td>for example</td>
<td>par exemple</td>
</tr>

<tr>
<td><A HREF="http://www.fwccemes.org" rel="noopener" target="_blank">EMES</A></td>
<td>Europe and Middle East Section (q.v.)</td>
<td>Section de l'Europe et du Moyen-Orient (q.v.)</td>
</tr>

<tr>
<td><a href="http://emeyf.org/" rel="noopener" target="_blank">EMEYF</a></td>
<td>Europe and Middle East Young Friends</td>
<td>Jeunes Ami-e-s de l'Europe et du Moyen-Orient</td>
</tr>

<tr>
<td>esp.</td>
<td>especially</td>
<td>en particulier</td>
</tr>

<tr>
<td>F</td>
<td>France</td>
<td>France</td>
</tr>

<tr>
<td>f</td>
<td>feminine</td>
<td>féminin</td>
</tr>

<tr>
<td><a href="http://www.fwccworld.org/" rel="noopener" target="_blank">FWCC</a></td>
<td>Friends World Committee for Consultation</td>
<td>Comité consultatif mondial des Amis</td>
</tr>

<tr>
<td>i.e.</td>
<td>that is</td>
<td>c'est à dire</td>
</tr>

<tr>
<td>l.c.</td>
<td>lower case (letter)</td>
<td>&nbsp;</td>
</tr>

<tr>
<td>m</td>
<td>masculine</td>
<td>masculin</td>
</tr>

<tr>
<td>maj.</td>
<td>&nbsp;</td>
<td>majuscule</td>
</tr>

<tr>
<td>min.</td>
<td>&nbsp;</td>
<td>minuscule</td>
</tr>

<tr>
<td>n</td>
<td>noun</td>
<td>nom</td>
</tr>

<tr>
<td>p.ex.</td>
<td>for example</td>
<td>par exemple</td>
</tr>

<tr>
<td><A HREF="http://www.qcea.org/" rel="noopener" target="_blank">QCEA</A></td>
<td>Quaker Council for European Affairs</td>
<td>Conseil quaker pour les affaires européennes</td>
</tr>

<tr>
<td><A HREF="http://www.quno.org/" rel="noopener" target="_blank">QUNO</A></td>
<td>Quaker United Nations Office</td>
<td>Bureau Quaker auprès des Nations Unies</td>
</tr>

<tr>
<td>qv</td>
<td>see</td>
<td>voir</td>
</tr>

<tr>
<td>TOB</td>
<td>&nbsp;</td>
<td>Traduction œcuménique de la Bible</td>
</tr>

<tr>
<td>v</td>
<td>verb</td>
<td>verbe</td>
</tr>

<tr>
<td>YM</td>
<td>Yearly Meeting</td>
<td>&nbsp;</td>
</tr>

</table>
