{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% if page.trans == "glossary_fren" %}{% assign glossy = site.data.FR-glossaire-csv %}{% else %}{% assign glossy = site.data.EN-glossary-csv %}{% endif %}
<span id=copied style="display:none">{% if fr %}Copié!{% else %}Copied!{% endif %}</span>
<div class=center>
  <span><button class="randombtn" onkeypress="openAll()" onclick="openAll()">{% if fr %}Ouvrir tout{% else %}Open all{% endif %}</button>&nbsp;
  <button class="randombtn" onkeypress="closeAll()" onclick="closeAll()">{% if fr %}Fermer tout{% else %}Close all{% endif %}</button>&nbsp;
  {% if fr %}<button class="randombtn" onkeypress="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()" onclick="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()">Entrée au hasard</button>{% else %}
   <button class="randombtn" onkeypress="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()" onclick="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()">Random entry</button>{% endif %}
<div>&nbsp;</div>
</div>
  {% comment %}The code below is the alphabet link at the top{% endcomment %}
<div class="abc_grid">
{% for each in glossy %}
{% assign nowslice = each.entry | slice: 0 | capitalize %}
  {% comment %}special processing in French{% endcomment %}
  {% if nowslice == "É" or nowslice == "Ê" or nowslice == "È" %}{% assign nowslice = "E" %}{% endif %}
  {% if nowslice == "Â" or nowslice == "À" %}{% assign nowslice = "A" %}{% endif %}
  {% if nowslice == "Ô" or nowslice == "Ö" %}{% assign nowslice = "O" %}{% endif %}
  {% if nowslice == "S" or nowslice == "[" %}
    {% assign twoslice = each.entry | slice: 1 | capitalize %}
    {% assign threeslice = each.entry | slice: 2 | capitalize %}
    {% assign fourslice = each.entry | slice: 3 | capitalize %}
    {% if nowslice == "S" and twoslice == "'" %}{% assign nowslice = threeslice %}{% endif %}
    {% if nowslice == "[" %}{% assign nowslice = twoslice %}{% endif %}
    {% if nowslice == "S" and threeslice == " " %}{% assign nowslice = fourslice %}{% endif %}
{% endif %}
{% unless nowslice == abc %}{% if abc > nowslice %}{% if fr %}Oops, les entrées du glossaire n'était pas en ordre, contactez l'administrateur{% else %}Oops, the glossary entries weren't in order, contact the administrator (entry: {{ each.entry }}){% endif %}{% break %}{% endif %}{% assign abc = nowslice %}
<a class="color-1-dark-text" href="#{{ abc }}">{{ abc }}</a>{% endunless %}{% endfor %}</div>
   {% comment %}ok, now the filter bar{% endcomment %}
{% assign counter = -1 %}<div>&nbsp;</div>
<div id=filterDropdown>
	<input aria-label="{% if fr %}Filtre pour le glossaire{% else %}Filter glossary{% endif %}" id="filterInput" type="search" autofocus="autofocus" autocomplete=off placeholder="{% if fr %}Recherchez par entrée{% else %}Filter by entry{% endif %}..." onkeyup="filterFunction(this)" onsearch="filterFunction(this)">
<div>{% comment %}Now all the entries{% endcomment %}
{% for each in glossy %}{% assign counter = counter | plus: 1 %}
 {% assign nowslice = each.entry | slice: 0 | capitalize %}
   {% comment %}special processing in French again{% endcomment %}
  {% if nowslice == "É" or nowslice == "Ê" or nowslice == "È" %}{% assign nowslice = "E" %}{% endif %}
  {% if nowslice == "Â" or nowslice == "À" %}{% assign nowslice = "A" %}{% endif %}
  {% if nowslice == "Ô" or nowslice == "Ö" %}{% assign nowslice = "O" %}{% endif %}
  {% if nowslice == "S" or nowslice == "[" %}
    {% assign twoslice = each.entry | slice: 1 | capitalize %}
    {% assign threeslice = each.entry | slice: 2 | capitalize %}
    {% assign fourslice = each.entry | slice: 3 | capitalize %}
    {% if nowslice == "S" and twoslice == "'" %}{% assign nowslice = threeslice %}{% endif %}
    {% if nowslice == "S" and threeslice == " " %}{% assign nowslice = fourslice %}{% endif %}
    {% if nowslice == "[" %}{% assign nowslice = twoslice %}{% endif %}
{% endif %}
 {% unless nowslice == abc %}{% assign abc = nowslice %}
 </div>
 <div class="sticky_anchor">
   <div class="filterbye">&nbsp;</div>
   <div class=abc><a class="textwhite"> &nbsp;{{ abc }}</a><div class=stanchor><a name="{{ abc }}"></a></div></div>{% endunless %}
   <button id="no{{ counter }}" onclick="toggleAccordion('{{ counter }}')" onkeypress="toggleAccordion('{{ counter }}')" class="list_button buttonyellow">
	   {%- if each.entry-href -%}<i id="caret{{ counter }}" class="fas fa-caret-right"></i> &nbsp;&nbsp;<a href="../entr/{{ each.entry-href }}">{%- capture title -%}{{- each.entry -}}{%- endcapture -%}{{- title | markdownify | remove: '<p>' | remove: '</p>' -}}</a>{% else %}<i id="caret{{ counter }}" class="fas fa-caret-right"></i>&nbsp;&nbsp; {%- capture title -%}{{- each.entry -}}{%- endcapture -%}{{- title | markdownify | remove: '<p>' | remove: '</p>' -}}{%- endif -%}</button>{% if each.entry-id %}<span class=stanchor><a id="{{ each.entry-id }}"></a></span>{% endif %}
 <div class="list_div filterHide" id="div{{ counter }}">
	 <p>{{ each.translation | markdownify }}</p>
	 {% if each.comment-translation %}<p><i>{{ each.comment-translation | markdownify }}</i></p>{% endif %}
	 <p><a id="id{{ counter }}" href="../entr/{{ each.trans }}"></a><span> (<a class=tooltip onclick="copyButton('id{{ counter }}')"><u>{% if fr %}Copier le lien, l'entrée no. {% else %}Copy link, entry #{% endif %}{{ each.trans }}</u><span class="tooltiptext" id="myTooltip_id{{ counter }}">{% if fr %}Copier ce lien dans le presse-papiers{% else %}Copy link to clipboard{% endif %}</span></a>)</span></p>
 </div>
{% endfor %}
</div>
</div>
<div>&nbsp;</div>
<script src="/assets/js/filter.js"></script>
