<h2>{% if page.lang == "fr" %}Table des matières{% else %}Table of contents{% endif %}</h2>
<ul>
	<li>
		<a href="#1">1</a>. <a href="#testimony">Testimony</a>
		<ul>
			<li>	
				<a href="#témoignage">Témoignage</a></li></ul>
	</li>
	<li>
		<a href="#2">2. Know one another in that which is eternal</a>
	</li>
	<li>
		<a href="#3">3</a>. <a href="#godliness">True Godliness</a>
		<ul>
			<li>	
				<a href="#piété">La vraie piété</a></li></ul>
	</li>
	<li>
		<a href="#4">4</a>. <a href="#walk">Be patterns, ... walk cheerfully</a>
		<ul>
			<li>	
				<a href="#marcher">Soyez des modèles, ... marchez joyeux</a></li></ul>
	</li>
	<li>
		<a href="#5">5. [A] secret power among them</a>
	</li>
	<li>
		<a href="#6">6</a>. <a href="#speak">Speak to one's condition</a>
		<ul>
			<li>	
				<a href="#parler">Parler à sa condition</a></li></ul>
	</li>
	<li>
		<a href="#7">7</a>. <a href="#what">What canst thou say?</a>
		<ul>
			<li>	
				<a href="#que">Que peux-tu dire?</a></li></ul>
	</li>
	<li>
		<a href="#8">8. [Take] away the occasion of all wars</a>
	</li>
	<li>
		<a href="#9">9. The testament of James Nayler, 1660 / Le testament de James Nayler, 1660</a>
	</li>
	<li>
		<a href="#10">10. Community / La vie en communauté</a>
	</li>
	<li>
		<a href="#11">11</a>. <a href="#diversity">In praise of diversity</a>
		<ul>
			<li>	
				<a href="#diversité">Éloge de la diversité</a></li></ul>
	</li>
	<li>
		<a href="#12">12</a>. <a href="#concern">Concern</a>
	</li>
	<li>
		<a href="#13">13</a>. <a href="#peace">Peace Testimony, 1660/1661</a>
		<ul>
			<li>	
				<a href="#paix">Témoignage pour la paix de la Société religieuse des Amis, 1660/1661</a></li></ul>
	</li>
	<li>
		<a href="#14">14</a>. <a href="#aotearoa">Statement on peace</a>
	</li>
	<li>
		<a href="#15">15. Eight foundations of a true social order / Huit fondements d'un véritable ordre social</a>
	</li>
	<li>
		<a href="#16">16. In essentials unity</a>
	</li>
	<li>
		<a href="#17">17. The elders of Balby 1656 / Les anciens de Balby 1656</a>
	</li>
</ul>

<h2 i class=scroll_anchor id="1">1</h2>

<h3 i class=scroll_anchor id="testimony">Testimony</h3>

<p>
The word '<strong>testimony</strong>'
is used by Quakers to describe a witness to
the living truth within the human heart as it is acted out in everyday
life. It is not a form of words, but a mode of life based on the
realisation that there is that of God in everybody, that all human
beings are equal, that all life is interconnected. It is affirmative
but may lead to action that runs counter to certain practices currently
accepted in society at large... These testimonies reflect the corporate
beliefs of the Society, however much individual Quakers may interpret
them differently according to their own light. They are not optional
extras, but fruits that grow from the very tree of faith.
</p>

<h3 class=scroll_anchor id="témoignage">Le témoignage</h3>

<p>
Les quakers se servent du mot <strong>témoignage</strong>
pour décrire
une attestation de la vérité qui vit dans le coeur
humain, telle qu'elle s'exprime dans la vie quotidienne. Ce n'est pas
une formule verbale, mais un mode de vie fondé sur la conscience
qu'une étincelle divine existe dans toute personne, que tous les
êtres humains sont égaux, et que toute vie se tient. Il
est affirmatif mais il peut entraîner des actions contraires
à certaines pratiques courantes dans la société en
général... Ces témoignages reflètent les
convictions collectives de la Société, même si
chaque quaker les interprète différemment selon ses
propres lumières. Ce ne sont pas des options, mais des fruits
qui poussent sur l'arbre même de la foi.
</p>

<p align="right">
Harvey Gillman, 1988.
&nbsp;
<cite>Quaker Faith & Practice</cite> 23.12 
</p>

<hr />

<h2  class=scroll_anchor id="2">2</h2>

<p>
Know one another in that which is eternal. 
</p>

<p>
Apprenez à vous connaître les uns les autres en ce
qui est Éternel. 
</p>

<p align="right">
George Fox, 1657 
</p>

<hr />

<h2  class=scroll_anchor id="3">3</h2>

<h3  class=scroll_anchor id="godliness">True Godliness</h3>

<p>
True godliness don't turn men out of the world but enables them to live better 
in it and excites their endeavours to mend it. 
</p>

<h3  class=scroll_anchor id="piété">La vraie piété</h3>

<p>
La vraie piété ne détourne pas les gens du monde,
mais leur permet de mieux y vivre et les excite à
l'effort de le réparer. 
</p>

<p align="right">
William Penn, 1682 
</p>

<hr />

<h2  class=scroll_anchor id="4">4</h2>

<h3  class=scroll_anchor id="walk">Be patterns, ... walk cheerfully</h3>

<p>
Be patterns, be examples in all countries, places, islands, nations,
wherever you come, that your carriage and life may preach among
all sorts of people, and to them; then you will come to
<strong>walk cheerfully</strong>
over the world, answering that of God in everyone. 
</p>

<h3  class=scroll_anchor id="marcher">
Soyez des modèles, ...  marchez joyeux
</h3>

<p>
Soyez des modèles, soyez des exemples en tout pays, en tout
endroit, dans toutes les îles, dans toutes les nations, enfin
où que vous alliez que votre conduite et toute votre vie soient
une prédication parmi des gens de toute condition et pour eux;
c'est ainsi que vous <strong>marcherez joyeux</strong> de par le monde,
saluant le divin en chaque personne.
</a>
</p>

<p align="right">
George Fox, 1656 
</p>

<hr />

<h2  class=scroll_anchor id="5">5</h2>

<p>
When I came into the silent assemblies of God's people, I felt a secret
power among them, which touched my heart; and as I gave way unto it I
found the evil weakening in me and the good raised up.
</p>

<p>
Quand je vins dans les assemblées silencieuses du peuple de
Dieu, j'y sentis une puissance secrète qui toucha mon coeur; et
à mesure que je m'y abandonnais, je sentis en moi s'affaiblir le
mal et s'affermir le bien. 
</p>

<p align="right">
Robert Barclay
</p>

<hr />

<h2  class=scroll_anchor id="6">6</h2>

<h3  class=scroll_anchor id="speak">Speak to one's condition</h3>

<p>
When all my hopes ... in all
men was gone, so that I had nothing outwardly to help me, nor
could tell what to do, then, oh then, I heard a voice which said,
"There is one, even Christ Jesus, that can
<strong>speak to thy condition</strong>",
and when I heard it, my heart did leap for joy.
</p>

<h3  class=scroll_anchor id="parler">parler à sa condition</h3>

<p>
Quand tout espoir ... en qui que ce soit eut disparu, de sorte que je
n'avais aucun secours à attendre de l'extérieur et que je
ne savais que faire, alors, oh! alors, j'entendis une voix qui disait
"Il y en a un, Christ Jésus lui-même, qui peut
<strong>parler à ta condition</strong>",
et lorsque j'entendis ces mots mon coeur bondit de joie.
</p>

<p align="right">
George Fox, <em>Journal</em> (entry for/se rapporte à: 1647) 
</p>

<hr />

<h2  class=scroll_anchor id="7">7</h2>

<h3  class=scroll_anchor id="what">What canst thou say?</h3>

<p>
You will say, Christ saith this, and the apostles say this; but what
canst thou say? Art thou a child of the Light and hast walked in
the Light, and what thou speakest is it inwardly from God? 
</p>

<h3  class=scroll_anchor id="que">Que peux-tu dire?</h3>

<p>
Vous direz, le Christ dit ceci, et les apôtres disent ceci; mais
que peux-tu dire?  Es-tu un enfant de la lumière et as-tu
marché dans la lumière, et ce que tu dis vient-il par
l'esprit de Dieu?
</p>

<p align="right">
George Fox 
</p>

<hr />

<h2  class=scroll_anchor id="8">8</h2>

<p>
I told [the Commonwealth Commissioners] I lived in the virtue of that
life and power that took away the occasion of all wars and I knew from
whence all wars did rise, from the lust, according to James's
doctrine... I told them I was come into the covenant of peace which was
before wars and strifes were.
</p>

<p>
J'ai dit [aux commissaires du Commonwealth] que je vivais dans la vertu
de cette vie et de cette puissance qui ôtait l'occasion de toute
guerre et que je savais d'où venaient toutes les guerres: de 1a
convoitise, selon la doctrine de Jacques...
Je leur ai dit que j'étais entré dans
l'alliance de paix qui existait avant toutes les guerres et conflits.
</p>

<p align="right">
George Fox, 1651 
</p>

<hr />

<h2  class=scroll_anchor id="9">9</h2>

<h3>
The testament of James Nayler, 1660 
</h3>

<p>
There is a spirit which I feel that delights to do no evil, nor to
revenge any wrong, but delights to endure all things, in hope to enjoy
its own in the end. Its hope is to outlive all wrath and contention,
and to weary out all exaltation and cruelty, or whatever is of a nature
contrary to itself. It sees to the end of all temptations. As it bears
no evil in itself, so it conceives none in thoughts to any other. If it
be betrayed it bears it, for its ground and spring is the mercies and
forgiveness of God. Its crown is meekness, its life is everlasting love
unfeigned; and takes its kingdom with entreaty and not with
contention, and keeps it by lowliness of mind.
</p>

<h3>
Le testament de James Nayler, 1660 
</h3>

<p>
Un esprit existe que je ressens, qui se plaît à ne faire
aucun mal et à ne venger aucun tort, mais qui se réjouit
de tout supporter dans l'espoir de jouir de sa part à la fin.
Son espérance est de survivre à toute colère et
à toute dispute, et de lasser toute exaltation et
cruauté, ou tout ce qui est contraire à sa nature. Il
voit jusqu'au bout de toutes les tentations. Ne portant aucun mal en
lui, il n'en conçoit pas dans la pensée chez autrui. S'il
est trahi, il le supporte, car le fond et la source de son existence
sont la miséricorde et le pardon de Dieu. Sa couronne est la
douceur, sa vie est l'amour éternel sans feinte; il prend son
royaume par la supplication et non par la dispute et il le garde par
l'humilité.
</p>

<hr />

<h2  class=scroll_anchor id="10">10</h2>

<h3  class=scroll_anchor id="community">Community</h3>

<p>
Our life is love, and peace, and tenderness; and bearing one
with another, and forgiving one another, and not laying accusations
one against another; but praying one for another,
and helping one another up with a tender hand.
</p>

<h3  class=scroll_anchor id="communaute">La vie en communaut&eacute;</h3>

<p>
Notre vie est amour, et paix, et tendresse; et se supporter
l'un-e l'autre, et se pardonner l'un-e l'autre, et ne pas 
porter d'accusation l'un-e contre l'autre; mais 
prier l'un-e pour l'autre, et se relever 
l'un-e l'autre d'une main secourable.
</p>

<p align="right">
Isaac Penington, 1667.
&nbsp;
Cf. <i>Quaker Faith & Practice</i> 10.01
</p>

<hr />

<h2  class=scroll_anchor id="11">11</h2>

<h3  class=scroll_anchor id="diversity">In praise of diversity</h3>

<p>
How sweet and pleasant it is to the truly spiritual eye
to see several sorts of believers, several forms of 
Christians in the school of Christ, every one learning 
their own lesson, performing their own peculiar service, 
and knowing, owning and loving one another in their 
several places and different performances to their Master,
to whom they are to give an account, and not to quarrel 
with one another about their different practices. 
For this is the true ground of love and unity, not that 
such a man walks and does just as I do, 
but because I feel the same spirit and life in him.
</p>

<h3  class=scroll_anchor id="diversité">Éloge de la diversité</h3>

<p>
Combien celui qu'illumine vraiment l'Esprit trouve doux
et agréable de voir, dans l'école du Christ, différentes
sortes de croyants : chacun apprend la leçon qui lui est
destinée, remplit son office propre, et tous se reconnaissent,
se rendent justice mutuellement et s'aiment dans les
diverses situations où ils sont placés et dans leurs
diverses manières de servir le Maître à qui ils devront
rendre compte, au lieu de se quereller entre eux
au sujet de leurs méthodes différentes.
Le vrai fondement de l'amour et de l'union,
ce n'est pas que tel homme marche et agisse exactement comme moi,
mais que je sente en lui le même esprit et la même vie.
</p>

<p align="right">
Isaac Penington, 1660.
&nbsp;
Cf. <i>Quaker Faith & Practice</i> 27.13
</p>

<hr />

<h2  class=scroll_anchor id="12">12</h2>

<h3  class=scroll_anchor id="concern">Concern</h3>

<p>
The true '<strong>concern</strong>'
[is] a gift from God, a leading of his spirit which
may not be denied. It is not that on investigation it proves to be the
intelligent thing to do - though it usually is; it is that the 
individual (and if his concern is shared and adopted by the meeting, 
then the meeting) knows, as a matter of inward experience, that there 
is something that the Lord would have done, however obscure the way, 
however uncertain the means to human observation. Often proposals for 
action are made which have every appearance of good sense, but as the 
meeting waits before God it becomes clear that the proposition falls 
short of 'concern'. 
</p>

<h3>Le concern</h3>

<p>
Le vrai concern [est] un don de Dieu, une direction de son esprit qui
ne peut se refuser. Sa sanction n'est pas qu'à l'examen il 
s'avère une chose intelligente à faire - bien qu'il en soit 
ainsi d'habitude; elle est que l'individu (et si son concern est 
partagé et adopté par son groupe, alors le groupe) sait par 
expérience intérieure que voici une chose que le Seigneur 
souhaite voir faire, peu importe que le chemin soit obscur, peu 
importe que les moyens soient incertains à la perception humaine.
On fait souvent des propositions d'action qui ont toutes les 
apparences du bon sens, mais à mesure que le groupe attend devant
Dieu, il devient clair que la proposition ne atteint la mesure du 
concern.

<p align="right">
Roger Wilson, 1949.
&nbsp;
Cf. <cite>Quaker Faith & Practice</cite> 13.07
</p>

<hr />

<h2 i class=scroll_anchor id="13">13</h2>

<h3>
<a name="peace">
Peace Testimony, 1660/1661 
</a>
</h3>

<p>
We utterly deny all outward wars and strife and fightings with outward
weapons, for any end or under any pretence whatsoever. And this is our
testimony to the whole world. The spirit of Christ, by which we are
guided, is not changeable, so as once to command us from a thing as
evil and again to move unto it; and we do certainly know, and so
testify to the world, that the spirit of Christ, which leads us into
all Truth, will never move us to fight and war against any man with
outward weapons, neither for the kingdom of Christ, nor for the
kingdoms of this world.
</p>

<h3>
<a name="paix">
Témoignage pour la paix de la Société religieuse
des Amis, 1660/1661
</a>
</h3>

<p>
Nous refusons absolument toutes guerres et luttes
extérieures, ainsi que tous combats armés, quels qu'en
soient le but ou le prétexte; tel est notre témoignage
devant le monde entier. L'esprit du Christ qui nous guide ne varie pas,
pour nous commander tantôt de fuir une chose comme mauvaise et
tantôt nous pousser à la faire; et nous savons avec
certitude et proclamons devant 1e monde que l'esprit du Christ qui nous
conduit à toute vérité ne nous poussera jamais
à nous battre ni à faire la guerre contre aucun homme les
armes à la main, ni pour le royaume du Christ, ni pour les
royaumes de ce monde.
</p>

<hr />

<h2 i class=scroll_anchor id="14">14</h2>

<h3 i class=scroll_anchor id="aotearoa">Statement on peace</h3>

<p>
Issued by Aotearoa - New Zealand Quakers at their
Yearly Meeting in January 1987 (extracts)
</p>

<blockquote>
...<br />
We totally oppose all wars, all preparation for war,
all use of weapons and coercion by force, and all military
alliances: no end could ever justify such means.<br />
We equally and actively oppose all that leads to violence
among people and nations, and violence to other species and to our planet.<br />
This has been our testimony to the whole world for over three centuries<br />
...<br />
The primary reason for this stand is our conviction that
there is that of God in every one which makes
each person too precious to damage or destroy.<br />
While someone lives, there is always the hope of reaching
that of' God within them: such hope motivates our search
to find nonviolent resolution of conflict.<br />
Peacemakers are also empowered by that of God in them.
Our individual human skills, courage, endurance,
and wisdom are vastly augmented by the power of
the loving Spirit that connects all people.<br />
Refusal to fight with weapons is not surrender.
We are not passive when threatened by the
greedy, the cruel, the tyrant, the unjust.<br />
We will struggle to remove the causes of impasse and confrontation
by every means of nonviolent resistance available.<br />
There is no guarantee that our resistance will be any more
successful or any less risky than military tactics.
At least our means will be suited to our end.<br />
If we seemed to fail finally, we would still rather suffer
and die than inflict evil in order to save
ourselves and what we hold dear.<br />
If we succeed, there is no loser or winner,
for the problem that led to conflict will have been resolved
in a spirit of justice and tolerance.<br />
Such a resolution is the only guarantee that there will be
no further outbreak of war when each side has regained strength.<br />
...
</blockquote>

<h3>Déclaration sur la paix</h3>

<p>
Prononcée par les quakers d'Aotearoa/Nouvelle-Zélande
à leur Assemblée annuelle en janvier 1987 (extraits)
</p>

<blockquote>
...<br />
Nous nous opposons totalement à toute guerre,
à tout préparatif de guerre, à tout usage d'armes,
à toute contrainte imposée par la force et à toute alliance militaire:
aucun but ne saurait justifier de tels moyens.<br />
Nous nous opposons également - et activement -
à tout ce qui suscite la violence entre les
individus ou entre les nations, ainsi qu'à la violence
contre d'autres espèces et contre notre planète.<br />
Tel est notre témoignage devant le monde entier
depuis plus de trois siècles.<br />
...<br />
Nous sommes convaincus qu'il existe dans toute personne
une étincelle divine, et cela fait de chacun-e un être
précieux qu'il ne faut ni abîmer ni  détruire. <br />
Tant qu'une personne vit, l'espoir existe que l'on
pourra toucher cette étincelle: cet espoir nous pousse
à chercher des résolutions non violentes aux conflits qui surgissent.<br />
Les artisans de la paix puisent leur force dans cette étincelle
divine qui les habite. Le pouvoir de l'Esprit qui est amour
et qui nous relie tous augmente énormément le savoir faire,
le courage, la persévérance et la sagesse dont chacun-e
d'entre nous est doté-e.<br />
Refuser de se battre les armes à la main n'est pas capituler.
Nous ne restons pas passifs devant la cupidité, la cruauté,
la tyrannie et l'injustice.<br />
Nous lutterons pour abolir les causes d'impasse et de
confrontation avec tous les moyens disponibles de
résistance non violente.<br />
Aucune garantie n'existe que notre résistance aura
plus de succès ou moins de risques qu'une tactique militaire.
Mais nos moyens seront du moins accordés à notre but.<br />
S'il arrive que nous semblions échouer, nous aurons préféré
néanmoins souffrir et mourir plutôt que d'infliger le mal
dans un désir de sauver notre peau et ce qui nous est cher.<br />
S'il arrive que nous réussissions, il n'y aura ni vainqueur
ni vaincu, car le problème à la source du conflit aura été
résolu dans un esprit de justice et de tolérance.<br />
Une telle résolution est la seule garantie que la guerre
n'éclatera pas de nouveau quand chaque partie aura regagné sa force.
</blockquote>


<hr />

<h2 i class=scroll_anchor id="15">15</h2>

<h3>
Eight foundations of a true social order
</h3>

<ol>
<li>
The Fatherhood of God, as revealed by Jesus Christ, should lead us 
toward a brotherhood which knows no restriction of race, sex or social 
class.

<li>
This brotherhood should express itself in a social order which is 
directed, beyond all material ends, to the growth of personality truly 
related to God and man.

<li>
The opportunity of full development, physical, moral and spiritual, 
should be assured to every member of the community, man, woman and 
child. The development of man's full personality should not be hampered 
by unjust conditions nor crushed by economic pressure.

<li>
We should seek for a way of living that will free us from the bondage 
of material things and mere conventions, that will raise no barrier 
between man and man, and will put no excessive burden of labour upon any
by reason of our superfluous demands.

<li>
The spiritual force of righteousness, loving-kindness and trust is 
mighty because of the appeal it makes to the best in every man, and when
applied to industrial relations achieves great things.

<li>
Our rejection of the methods of outward domination, and of the appeal to
force, applies not only to international affairs, but to the whole 
problem of industrial control. Not through antagonism but through 
co-operation and goodwill can the best be obtained for each and all.

<li>
Mutual service should be the principle upon which life is organised. 
Service, not private gain, should be the motive of all work.

<li>
The ownership of material things, such as land and capital, should be so
regulated as best to minister to the need and development of man.

</ol>

<h3>
Huit fondements d'un véritable ordre social
</h3>

<ol>

<li>
La paternité de Dieu, telle que Jésus-Christ la 
révèle, doit nous mener vers une fraternité qui ignore 
toute restriction de race, de sexe ou de classe sociale

<li>
Cette fraternité doit s'exprimer dans un ordre social dirigé, 
au-delà de tout objectif matériel, vers l'épanouissement 
de la personnalité en relation véritable avec Dieu et 
l'humanité.

<li>
Il faut assurer à tout membre de la collectivité, homme, femme
et enfant, l'occasion d'un développement entier, physique moral et 
spirituel. Des conditions injustes ne doivent pas entraver le 
développement de la personne entière, ni la pression 
économique l'écraser.

<li>
Nous devons chercher une manière de vivre qui nous affranchit de la
servitude envers les choses matérielles et les simples convenances,
qui n'érige aucune barrière entre personne et personne, et qui
n'impose aucun fardeau de labeur excessif à qui que ce soit à 
cause de nos demandes superflues.

<li>
La force spirituelle de la justice, de l'amour et de la confiance est 
puissante parce qu'elle fait appel à ce qu'il y a de meilleur dans 
toute personne, et lorsqu'on l'applique aux relations sociales elle 
accomplit de grandes choses.

<li>
Notre refus des méthodes de la domination extérieure, et de 
l'appel à la force, s'applique non seulement aux relations 
internationales mais à tout le problème de la direction 
économique. Ce n'est pas par l'antagonisme mais par la 
coopération et la bonne volonté que l'on peut obtenir le 
meilleur pour chacun et pour tous.

<li>
Le service réciproque doit être le principe selon 
lequel la vie s'organise. Le service, non pas le gain privé, doit 
être le motif de tout travail.

<li>
La propriété de choses matérielles, telles que la terre 
et le capital, doit être réglée de manière 
à subvenir de la meilleure façon aux besoins et au 
développement de l'humanité

</ol>

<p align="right">
London Yearly Meeting, 1918.
&nbsp;
Cf. <cite>Quaker Faith & Practice</cite> 23.16
</p>

<hr />

<h2 i class=scroll_anchor id="16">16</h2>

<p>
In essentials unity, in non-essentials liberty, in all things charity.
</p>

<p>
Dans ce qui est essentiel vérité, dans ce qui est secondaire
liberté, mais en toute chose charité.
</p>

<hr />

<h2 i class=scroll_anchor id="17">17</h2>

<h3>
The elders of Balby 1656 
</h3>

<p>
Dearly beloved friends, these things we do not lay upon you as a rule
or form to walk by, but that all, with the measure of light which is
pure and holy, may be guided: and so in the light walking and abiding,
these may be fulfilled in the Spirit, not from the letter, for the
letter killeth, but the Spirit giveth life.
</p>

<h3>
Les anciens de Balby 1656 
</h3>

<p>
Amis bien-aimés, nous ne vous imposons pas ces choses comme une
règle ou forme à suivre, mais pour que tous puissent
être guidés dans l'éclairage de la lumière
qui est pure et sainte, et qu'ainsi cheminant et séjournant dans
la lumière, ces choses puissent s'accomplir selon l'Esprit, non
par la lettre; car la lettre tue, mais l'Esprit donne la vie.
</p>
