---
layout: compress
---
{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Preload some files and fonts to improve page load speed -->
  <link rel="preload" href="/assets/css/navstyle.css" as="style">
  <link rel="preload" href="/assets/css/style.css" as="style">
  <link rel="preload" href="/assets/css/fa-custom.css" as="style">
  {% comment %}<link rel="preload" href="/assets/google_fonts/Bitter/Bitter-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="/assets/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf" as="font" type="font/ttf" crossorigin>{% endcomment %}
  <link rel="preload" href="/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Black.ttf" as="font" type="font/ttf" crossorigin>
  <meta name="description" content="{% if page.type == "posts" %}{{ post.excerpt }}{% elsif page.description %}{{ page.description }}{% elsif site.title %}{{ site.title }}{% else %}{{ page.trans }}{% endif %}">
  <meta name="keywords" content="{{ site.keywords}}">
  <meta name="author" content="{{ site.title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#01579B">
  <meta property="og:title" content='{% if page.og-title %}{{ page.og-title }}{% else %}{{ page.title }}{% endif %}'>
  <meta property="article:publisher" content="{{ site.url }}">
  {% if page.tag %}<meta property="article:tag" content="{{ page.tags }}">{% endif %}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="fb:app_id" content="299421778303061">
  <meta property="og:site_name" content='{{ site.title }}'>
  <meta property="og:description" content='{% if page.og-title %}{{ page.og-title }}{% elsif page.title %}{{ page.title }}{% elsif site.title %}{{ site.title }}{% else %}{{ page.trans }}{% endif %}'>
  <meta property="og:image" content="{{ site.url }}/assets/images/quaker_icon.png" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}">
  <meta property="og:locale" content="{% if fr %}fr{% else %}en{% endif %}_CA">
  <html lang="{{ page.lang | default: 'en' }}">
  <link rel="stylesheet" href="/assets/css/fa-custom.css">
  {% comment %}If you want to add FontAwesome 5 icons, comment out the line above by putting it between symbols <!-- --> like this "<!-- <link rel="stylesheet" href="/assets/css/fa-custom.css"> --> and uncomment the line the line below by removing those same symbols (<!-- and -->){% endcomment %}
  <!-- <link rel="stylesheet" href="/assets/css/all.css"> -->
  <link rel="stylesheet" href="/assets/css/style.css">
  {% if page.trans == "new_attender" or page.trans == "glossary_fren" or page.trans == "glossary_enfr" or page.trans == "index-choose" or page.type == "system_grid" %}<link rel="stylesheet" href="/assets/css/grid.css">{% endif %}
  <link rel="stylesheet" href="/assets/css/navstyle.css">
  <link rel="preload" href="/assets/js/navigation.js" as="script" crossorigin>
  <link rel="icon" type="image/png" href="/favicon.ico" sizes="256x256">
  <link rel="manifest" href="/manifest{% if fr %}-fr{% endif %}.webmanifest">
  {% if page.trans == "contribution" %}<link rel="dns-prefetch" href="https://canadahelps.org">{% endif %}
  {% if page.trans == "home" %}<link rel="dns-prefetch" href="https://youtube.com">{% endif %}
  {% if page.trans == "calendar" %}<link rel="dns-prefetch" href="https://calendar.google.com">{% endif %}
  {% if page.trans == "directions" or page.trans == "midweek" or page.trans == "quebec" or page.trans == "south_shore" or page.trans == "laurentians" %}<link rel="dns-prefetch" href="https://maps.google.com">{% endif %}
  {% comment %}Default title in English but in French too{% endcomment %}
  <title>{% if fr %}{{ site.title-fr }}{% else %}{{ site.title }}{% endif %}</title>
  <! -- search header -->
  {% if page.tipue_search_active or layout.tipue_search_active %}
  <!-- <link rel="stylesheet" href="/assets/tipuesearch/tipuesearch-{% if fr %}fr{% else %}en{% endif %}/css/normalize.css"> jquery3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="/assets/tipuesearch/tipuesearch-{% if fr %}fr{% else %}en{% endif %}/tipuesearch_content.js"></script>
    <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
    <script src="/assets/tipuesearch/tipuesearch-{% if fr %}fr{% else %}en{% endif %}/tipuesearch_set.js"></script>
    <script src="/assets/tipuesearch/tipuesearch-{% if fr %}fr{% else %}en{% endif %}/tipuesearch.min.js"></script>
{% endif %}
</head>
<body>
 <nav>
	 {% comment %}This inserts the code for the navigation{% endcomment %}
   {% include navigation.html %}
   {% comment %}Turn alerts on and off using _config.yml, see the README{% endcomment %}
   <div class="container-alert">
	   {% comment %}   {% if page.url != "/nouveau/" and page.url != "/new_attender/" and page.url contains "/nouveau/" or page.url contains "/new_attender/" or page.url contains "/glossary/" or page.url contains "/glossaire/" or page.trans == "privacy" or page.trans == "livres-français" %}{% include breadcrumbs.html %}{% endif %}{% endcomment %}
   {% if site.redalerts == "all" %}
     <div class="stickystart redalert"><div></div><div class="alert">{% if fr %}{% capture alerte %}<i class="fas fa-exclamation-circle fa-fw fa-lg"></i> &nbsp;{% include {{ site.redalert_all_text-fr }} %}{% endcapture %}{{ alerte | markdownify }}
     {% else %}{% capture alert %}<i class="fas fa-exclamation-circle fa-fw fa-lg"></i> &nbsp;{% include {{ site.redalert_all_text-en }} %}{% endcapture %}{{ alert | markdownify }}
   {% endif %}</div>{% include alert/closebtn.html %}</div>{% endif %}
   {% if site.redalerts == "some" %}{% for each in site.redalert_pages %}
     {% if page.trans == each.page_trans %}<div class="stickystart redalert"><div></div><div class="alert">
       {% if fr %}{% capture alerte %}<i class="fas fa-exclamation-circle fa-fw fa-lg"></i> &nbsp;{% include {{ each.redalert_text-fr }} %}{% endcapture %}{{ alerte | markdownify }}{% elsif page.trans == each.page_trans %}{% capture alert %}<i class="fas fa-exclamation-circle fa-fw fa-lg"></i> &nbsp;{% include {{ each.redalert_text-en }} %}{% endcapture %}{{ alert | markdownify }} {% endif %}  </div>{% include alert/closebtn.html %}</div>{% endif %}
   {% endfor %}
   {% endif %}
       {% comment %}Blue alerts now{% endcomment %}
   {% if site.bluealerts == "all" %}
     <div class="stickystart bluealert"><div></div><div class="alert">{% if fr %}{% capture alerte %}<i class="fas fa-info-circle fa-fw fa-lg"></i> &nbsp;{% include {{ site.bluealert_all_text-fr }} %}{% endcapture %}{{ alerte | markdownify }}
     {% else %}{% capture alert %}<i class="fas fa-info-circle fa-fw fa-lg"></i> &nbsp;{% include {{ site.bluealert_all_text-en }} %}{% endcapture %}{{ alert | markdownify }}
   {% endif %}</div>{% include alert/closebtn.html %}</div>{% endif %}
   {% if site.bluealerts == "some" %}{% for each in site.bluealert_pages %}
     {% if page.trans == each.page_trans %}<div class="stickystart bluealert"><div></div><div class="alert">
		     {% if fr %}{% capture alerte %}<i class="fas fa-info-circle fa-fw fa-lg"></i> &nbsp;{% include {{ each.bluealert_text-fr }} %}{% endcapture %}{{ alerte | markdownify }}{% elsif page.trans == each.page_trans %}{% capture alert %}<i class="fas fa-info-circle fa-fw fa-lg"></i> &nbsp;{% include {{ each.bluealert_text-en }} %}{% endcapture %}{{ alert | markdownify }} {% endif %}  </div>{% include alert/closebtn.html %}</div>{% endif %}
   {% endfor %}
   {% endif %}
   </div>
</nav>
	{% comment %}These are the headers, which are included only if the page has them. There's a weird bug for the homepage that forces it to have a title, thus the following unless statement...{% endcomment %}
  <header>
	  {% unless page.trans == "home" %}{% if page.title %} <br><h1 class="header">{% if page.type == "dictionary" %}{% capture md %}{{ page.title }}{% endcapture %}{{ md | markdownify }}{% else %}{{ page.title }}{% endif %}</h1>{% endif %}
    {% if page.description %}<h2 class="header">{{ page.description }}</h2>{% endif %}
    {% endunless %}
  </header>
   <main>
	<br class=widespace>
<article class="container-content">
	<div class="content">
    {{ content }}
    <br>
	</div>
       <!-- Return to top button -->
       <button onclick="topFunction()" onkeypress="topFunction()" aria-label="{% if fr %}Retour en haut{% else %}Return to top{% endif %}" id="topBtn" title="{% if fr %}Retour en haut{% else %}Return to top{% endif %}"><i class="fas fa-arrow-circle-up"></i></button>
</article>
   </main>
   <br />&nbsp; 
   <footer class="footer">
	   {% comment %}For some reason can't include a markdown file as HTML, so the code below translates the markdown into HTML before including. Also note that there is some special footer-header styling in the stylesheet{% endcomment %}
	   {% if fr %}{% capture bas-de-page %}{% include bas-de-page.md %}{% endcapture %}{{ bas-de-page | markdownify }}{% else %}{% capture footer %}{% include footer.md %}{% endcapture %}{{ footer | markdownify }}{% endif %}
	      </footer>
<script src="/assets/js/navigation.js" crossorigin></script>   
{% if page.trans == "glossary_fren" or page.trans == "glossary_enfr" %}
<script src="/assets/js/copy.js" crossorigin></script>   
{% endif %}
</body>
</html>
