---
layout: default
type: dictionary
lang: en
---
<head><meta property="og:description" content="{{ page.glos.translation }}"></head>
{% assign trans-slice-back = page.glos.trans | slice: -3, 100 %}
{% assign slice1 = page.glos.trans | slice: 0 %}
{% case slice1 %}
  {% when "1" %}
  {% assign last-entry = site.data.EN-glossary-csv | sort: "trans" | last %}
  {% assign max-next = last-entry.trans %}
  {% assign backtoglossary_link = "../glossary/en-fr" %}{% assign backtoglossary_text = "Back to the English-French glossary" %}
  {% when "2" %}
  {% assign last-entry = site.data.FR-glossaire-csv | sort: "trans" | last %}
  {% assign max-next = last-entry.trans %}
  {% assign backtoglossary_link = "../glossary/fr-en" %}{% assign backtoglossary_text = "Back to the French-English glossary" %}
{% endcase %}

{% capture md %}
_{{ page.glos.translation }}_

{% if page.glos.comment-translation %}
{{ page.glos.comment-translation }}
{% endif %}
Entry #{{ page.glos.trans }}, updated {{ page.glos.auto-timestamp }}{% endcapture %}
{{ md | markdownify }}

<div class=center>
{% capture entry-nav %}
{% unless trans-slice-back == "001" %}[Previous entry](../entr/{{ page.glos.trans | minus: 1 }}){: class="w3-button color-1-dark"} {% unless page.glos.trans == max-next %}\|{% endunless %} {% endunless %}{% unless page.glos.trans == max-next %} [Next entry](../entr/{{ page.glos.trans | plus: 1 }}){: class="w3-button color-1-dark"}{% endunless %}

[{{ backtoglossary_text }}]({{ backtoglossary_link }}){: class="w3-button color-1-dark"}{% endcapture %}{{ entry-nav | markdownify }}
</div>

