---
layout: default
type: dictionary
lang: fr
---
<head><meta property="og:description" content="{{ page.glos.translation }}"></head>
{% assign trans-slice-back = page.glos.trans | slice: -3, 100 %}
{% assign slice1 = page.glos.trans | slice: 0 %}
{% case slice1 %}
  {% when "1" %}
  {% assign last-entry = site.data.EN-glossary-csv | sort: "trans" | last %}
  {% assign max-next = last-entry.trans %}
  {% assign backtoglossary_link = "../glossaire/ang-fr" %}{% assign backtoglossary_text = "Retour au glossaire Anglais-Français" %}
  {% when "2" %}
  {% assign last-entry = site.data.FR-glossaire-csv | sort: "trans" | last %}
  {% assign max-next = last-entry.trans %}
  {% assign backtoglossary_link = "../glossaire/fr-ang" %}{% assign backtoglossary_text = "Retour au glossaire Français-Anglais" %}
{% endcase %}

{% capture md %}
_{{ page.glos.translation }}_

{% if page.glos.comment-translation %}
{{ page.glos.comment-translation }}
{% endif %}
Entrée #{{ page.glos.trans }}, dernière mise à jour {{ page.glos.auto-timestamp }}{% endcapture %}
{{ md | markdownify }}
{% comment %}If the date needs formatting use after auto-timestamp above before the two braces: | date: "%B %-d, %Y"{% endcomment %} 
<div class=center>
{% capture entry-nav %}
{% unless trans-slice-back == "001" %}[Entrée précédente](../entr/{{ page.glos.trans | minus: 1 }}){: class="w3-button color-1-dark"} {% unless page.glos.trans == max-next %}\|{% endunless %} {% endunless %}{% unless page.glos.trans == max-next %} [Entrée suivante](../entr/{{ page.glos.trans | plus: 1 }}){: class="w3-button color-1-dark"}{% endunless %}

[{{ backtoglossary_text }}]({{ backtoglossary_link }}){: class="w3-button color-1-dark"}{% endcapture %}{{ entry-nav | markdownify }}
</div>

